body{
    background-color: #1c1e1e;
}
.links{
    text-align: right;
    margin: 0em 0em;
}
.geekheaven{
    color: white;
    margin: 1.875em 1.875em;
}
ul{
    white-space: nowrap;
    margin: 0em auto;
}
ul li{
    width: 20%;
    display: inline-block;
    margin: 0.625em 0.625em;
    text-align: center;
    position: relative;
    top: -7.5em;
}
ul li a{
    text-decoration: none;
    color: #13F7D2;
    font-size: 1.5em;
}
a:hover{
    text-decoration: underline;
    color: #13F7D2;
}
main{
    margin: 0.625em 0.625em;
    columns: 2;
}
.intro{
    color: white;
}
h1.intro{
    color: #13F7D2;
    font-size: 3.75em;
}
p.intro1{
    color: white;
    font-size: 2.25em;
}
p.intro2{
    color: white;
    font-size: 1.25em;
}
.footer{
    color: white;
    text-align: center;
}
.icons{
    color: #13F7D2;
    text-align: center;
}
.icons a{
    color: #13F7D2;
}
i{
    padding: 0.375em 0.375em;
    border: 0.125em solid #13F7D2;
    border-radius: 50%;
    margin: 0.3125em 0.3125em;
}
.intro::selection{
    background-color: white;
}
.intro1::selection{
    background-color: #13F7D2;
}
.intro1 br::selection{
    background-color: #13F7D2;
}
.intro2::selection{
    background-color: #13F7D2;
}
.footer::selection{
    background-color: #13F7D2;
}
.links ul li a::selection{
    background-color: white;
}
.icons::selection{
    background-color: white;
}
.pic{
    position: relative;
    left: 11.25em;
    top: -4.5em;
}
.btn-group{
    display: none;
    position: relative;
    right: 50px;
    bottom: 130px;
}
@media screen and (max-width: 1125px){
    .pic{
        position: static;
    }
}
@media screen and (max-width: 830px){
    main{
        columns: 1;
    }
    .pic{
        position: relative;
    }
}
@media screen and (max-width: 660px){
    .pic{
        position: static;
    }
}
@media screen and (max-width: 380px){
    h1.intro{
        font-size: 3.5em;
    }
}
@media screen and (max-width: 600px){
    .about-join{
        display: none;
    }
    .btn-group{
        display: inline;
        background-color: #1c1e1e;
        color: #13F7D2;
    }
    .btn-group button{
        background-color: #1c1e1e;
        color: #13F7D2;
    }
    .btn-group button:hover{
        color: #13F7D2;
    }
    .btn-group button::selection{
        color: #13F7D2;
    }
    .fa-bars{
        color: #13F7D2;
    }
    .dropdown-item{
        color: #13F7D2;
    }
    .dropdown-item:hover{
        text-decoration: underline;
    }
    .dropdown-menu{
        background-color: #1c1e1e;
    }
    .dropdown-menu:hover{
        background-color: #1c1e1e;
    }
}
@media screen and (max-width: 358px){
    h1.intro{
        font-size: 3.25em;
    }
}
@media screen and (max-width: 335px){
    h1.intro{
        font-size: 3em;
    }
}
@media screen and (max-width: 450px){
    .pic{
        width: 330px;
        height: 370px;
    }
    .geekheaven{
        width: 85px;
        height: 75px;
        margin: 15px 15px;
    }
}
.fa-bars{
    border: none;
    font-size: 40px;
    margin: none;
    padding: none;
}
